@page "/avatar"
@rendermode InteractiveAuto

<h3>Avatar</h3>

<div>
    @foreach(var a in AvatarPresets)
    {
        <img src="@a" alt="Avatar Option" @onclick="()=>Select(a)"
             style="width:50px; height:50px; margin: 5px; cursor: pointer;"
             class="@(SelectedAvatar==a?"selected":"")"/>
    }
</div>

@code {
    [Parameter]
    public string? SelectedAvatar{ get; set; }
    [Parameter]
    public EventCallback<string> OnSelectAvatar{ get; set; }
    private static readonly List<string> AvatarPresets = new List<string>
    {
        "/c-avatars/bakyura.svg",
        "/c-avatars/bakyura-2x.svg",
        "/c-avatars/eight.svg",
        "/c-avatars/gaki-2x.svg",
        "/c-avatars/gg.svg",
        "/c-avatars/junsui-2x.svg",
        "/c-avatars/kakka.svg",
        "/c-avatars/kanra.svg",
        "/c-avatars/kuromu-2x.svg"
    };

    protected override async Task OnInitializedAsync()
    {
        if(string.IsNullOrEmpty(SelectedAvatar))
        {
            await RandomSelect();
        }
    }


    private async Task Select(string avatar)
    {
        SelectedAvatar = avatar;
        await OnSelectAvatar.InvokeAsync(avatar);
    }

    public async Task RandomSelect()
    {
        Random random = new Random();
        int index = random.Next(AvatarPresets.Count);
        await Select(AvatarPresets[index]);
        await OnSelectAvatar.InvokeAsync(SelectedAvatar);
    }
}
