@page "/Account/Manage/Avatar"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto


<div class="row">
    <div class="col-md-6">
        <div class="form-floating mb-3">
@* <div class="avatar selector"> *@
        @foreach(var a in avatars)
        {
            <img src="@a" alt="Avatar Option" @onclick="()=>SelectAvatar(a)"
                 style="width: 50px; height: 50px; margin: 5px; cursor: pointer;"
                 class="@(selectedAvatar==a? "selected" : "")"/>
        }
        </div>
    </div>
</div>



@code{
    [Parameter] public EventCallback<string> onAvatarSelected { get; set; }
    [Parameter] public string? selectedAvatar { get; set; }
    private static readonly List<string> avatars = new List<string>
    {
        "/avatars/bakyura.svg",
        "/avatars/bakyura-2x.svg",
        "/avatars/eight.svg",
        "/avatars/gaki-2x.svg",
        "/avatars/gg.svg",
        "/avatars/junsui-2x.svg",
        "/avatars/kakka.svg",
        "/avatars/kanra.svg",
        "/avatars/kuromu-2x.svg"
    };
    private async Task SelectAvatar(string avatarUrl)
    {
        selectedAvatar = avatarUrl;
        await onAvatarSelected.InvokeAsync(avatarUrl);
    }
}
